<% include layout %>
<div class="container" style="margin-top: 50px">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Contactos</a></li>
    <li><a data-toggle="tab" href="#menu1">Mi historial</a></li>
    <li><a data-toggle="tab" href="#menu2">Mis categorias</a></li>
    <li><a data-toggle="tab" href="#menu3">Mis tareas</a></li>
    <li><a data-toggle="tab" href="#menu4">Mis citas</a></li>
  </ul>
</div>


<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class="row">
      <div class="page-header">
        <h1>Contacto</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Lista de contactos</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: contactos">
            <tr>
              <td data-bind="text: apellido"></td>
              <td data-bind="text: nombre"></td>
              <td data-bind="text: direccion"></td>
              <td data-bind="text: telefono"></td>
              <td data-bind="text: correo"></td>
              <td><div class="btn-group">
                <button class="btn btn-warning"
                  data-bind="click: $root.cargar" data-toggle="modal" data-target="#modificarContacto">Editar</button>
                <button class="btn btn-danger" data-bind="click: $root.eliminar">Eliminar</button>
              </div></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-danger" data-toggle="modal" data-target="#agregarContacto">Agregar</button>
      </div>
    </div>
    <!-- Modal -->
    <div id="modificarContacto" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar</h4>
            <h4></h4>
          </div>
          <div class="modal-body" data-bind="if: cargado()">
            <form data-bind="submit: editar" >
              <div class="form-group">
                  <input name="idUsuario" data-bind="idUsuario" hidden/>
                  <label for="nombre">Nombre</label>
                  <input type="text"
                         class="form-control"
                         name="nombre"
                         data-bind="value: cargado().nombre"
                         id="nombre" required/>
                  <label for="apellido">Apellido</label>
                  <input type="text"
                          class="form-control"
                          name="apellido"
                          data-bind="value: cargado().apellido"
                          id="apellido" required/>
                  <label for="direccion">Direccion</label>
                  <input type="text"
                          class="form-control"
                          name="direccion"
                          data-bind="value: cargado().direccion"
                          id="direccion" required/>
                  <label for="telefono">Telefono</label>
                  <input type="number"
                          class="form-control"
                          name="telefono"
                          data-bind="value: cargado().telefono"
                          id="telefono" required/>
                  <label for="correo">Correo</label>
                  <input type="text"
                          class="form-control"
                          name="correo"
                          data-bind="value: cargado().correo"
                          id="correo" required/>
                  <label for="Categoria">Categoria</label>
                  <select class="form-control" data-bind="options: categorias,
                        optionsText: 'nombreCategoria',
                        value: nuevo.categoria" required></select>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
            <!-- Modal -->
            <div id="agregarContacto" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Desea eliminar</h4>
                    <h4></h4>
                  </div>
                  <div class="modal-body">
                    <form data-bind="submit: agregar">
                      <div class="form-group">
                          <input name="idUsuario" data-bind="idUsuario" hidden/>
                          <label for="nombre">Nombre</label>
                          <input type="text"
                                 class="form-control"
                                 name="nombre"
                                 data-bind="value: nuevo.nombre"
                                 id="nombre" required/>
                          <label for="apellido">Apellido</label>
                          <input type="text"
                                  class="form-control"
                                  name="apellido"
                                  data-bind="value: nuevo.apellido"
                                  id="apellido" required/>
                          <label for="direccion">Direccion</label>
                          <input type="text"
                                  class="form-control"
                                  name="direccion"
                                  data-bind="value: nuevo.direccion"
                                  id="direccion" required/>
                          <label for="telefono">Telefono</label>
                          <input type="number"
                                  class="form-control"
                                  name="telefono"
                                  data-bind="value: nuevo.telefono"
                                  id="telefono" required/>
                          <label for="correo">Correo</label>
                          <input type="text"
                                  class="form-control"
                                  name="correo"
                                  data-bind="value: nuevo.correo"
                                  id="correo" required/>
                          <label for="Categoria">Categoria</label>
                          <select class="form-control" data-bind="options: categorias,
                                optionsText: 'nombreCategoria',
                                value: nuevo.categoria"></select>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <div class="row">
      <div class="page-header">
        <h1>Historial</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Lista</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: history">
            <tr>
              <td data-bind="text: accion"></td>
              <td data-bind="text: fecha"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="menu2" class="tab-pane fade">
    <div class="row">
      <div class="page-header">
        <h1>Categorias</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Lista</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: categorias">
            <tr>
              <td data-bind="text: idCategoria"></td>
              <td data-bind="text: nombreCategoria"></td>
              <td><div class="btn-group">
                <button class="btn btn-warning"
                  data-bind="click: $root.cargarCategoria" data-toggle="modal" data-target="#modificarCategoria">Editar</button>
                <button class="btn btn-danger" data-bind="click: $root.eliminarCategoria">Eliminar</button>
              </div></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-danger" data-toggle="modal" data-target="#agregarCategoria">Agregar</button>
      </div>
    </div>
    <!-- Modal -->
    <div id="modificarCategoria" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar categoria</h4>
            <h4></h4>
          </div>
          <div class="modal-body" data-bind="if: cargadoCategoria()">
            <form data-bind="submit: editarCategoria" >
              <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text"
                         class="form-control"
                         name="nombre"
                         data-bind="value: cargadoCategoria().nombreCategoria"
                         id="nombre" required/>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
            <!-- Modal -->
            <div id="agregarCategoria" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar</h4>
                    <h4></h4>
                  </div>
                  <div class="modal-body">
                    <form data-bind="submit: agregarCategoria">
                      <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input type="text"
                                 class="form-control"
                                 name="nombre"
                                 data-bind="value: nuevo.nombreCategoria"
                                 id="nombre" required/>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
  </div>
  <div id="menu3" class="tab-pane fade">
    <div class="row">
      <div class="page-header">
        <h1>Tareas</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Lista de contactos</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Categoria</th>
              <th>Prioridad</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: tareas">
            <tr>
              <td data-bind="text: nombre"></td>
              <td data-bind="text: descripcion"></td>
              <td data-bind="text: nombreCategoria"></td>
              <td data-bind="text: nombrePrioridad"></td>
              <td><div class="btn-group">
                <button class="btn btn-warning"
                  data-bind="click: $root.cargarTarea" data-toggle="modal" data-target="#modificarTarea">Editar</button>
                <button class="btn btn-danger" data-bind="click: $root.eliminarTarea">Eliminar</button>
              </div></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-danger" data-toggle="modal" data-target="#agregarTarea">Agregar</button>
      </div>
    </div>
    <!-- Modal -->
    <div id="modificarTarea" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar</h4>
            <h4></h4>
          </div>
          <div class="modal-body" data-bind="if: cargadoTarea()">
            <form data-bind="submit: editarTarea" >
              <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text"
                         class="form-control"
                         name="nombre"
                         data-bind="value: cargadoTarea().nombre"
                         id="nombre" required/>
                  <label for="descripcion">Descripcion</label>
                  <input type="text"
                          class="form-control"
                          name="descripcion"
                          data-bind="value: cargadoTarea().descripcion"
                          id="descripcion" required/>
                  <label for="prioridad">Prioridad</label>
                  <select class="form-control" data-bind="options: prioridades,
                        optionsText: 'descripcion',
                        value: nuevoTarea.prioridad" required></select>
                  <label for="fecha">Fecha</label>
                  <input type="date"
                          class="form-control"
                          name="fecha"
                          data-bind="value: cargadoTarea().fecha"
                          id="fecha" required/>
                  <label for="Categoria">Categoria</label>
                  <select class="form-control" data-bind="options: categorias,
                       optionsText: 'nombreCategoria',
                       value: nuevo.categoria(),
                       optionsCaption: 'Choose...'"" required></select>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
            <!-- Modal -->
            <div id="agregarTarea" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar</h4>
                    <h4></h4>
                  </div>
                  <div class="modal-body">
                    <form data-bind="submit: agregarTarea">
                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text"
                               class="form-control"
                               name="nombre"
                               data-bind="value: nuevoTarea.nombre"
                               id="nombre" required/>
                        <label for="descripcion">Descripcion</label>
                        <input type="text"
                                class="form-control"
                                name="descripcion"
                                data-bind="value: nuevoTarea.descripcion"
                                id="descripcion" required/>
                        <label for="prioridad">Prioridad</label>
                        <select class="form-control" data-bind="options: prioridades,
                              optionsText: 'descripcion',
                              value: nuevoTarea.prioridad" required></select>
                        <label for="fecha">Fecha</label>
                        <input type="date"
                                class="form-control"
                                name="fecha"
                                data-bind="value: nuevoTarea.fecha"
                                id="fecha" required/>
                        <label for="Categoria">Categoria</label>
                        <select class="form-control" data-bind="options: categorias,
                              optionsText: 'nombreCategoria',
                              value: nuevo.categoria" required></select>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
  </div>
  <div id="menu4" class="tab-pane fade">
    <div class="row">
      <div class="page-header">
        <h1>Citas</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Lista de contactos</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Lugar</th>
              <th>Descripcion</th>
              <th>Contacto</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: citas">
            <tr>
              <td data-bind="text: fecha"></td>
              <td data-bind="text: lugar"></td>
              <td data-bind="text: descripcion"></td>
              <td data-bind="text: nombre"></td>
              <td><div class="btn-group">
                <button class="btn btn-warning"
                  data-bind="click: $root.cargarCita" data-toggle="modal" data-target="#modificarCita">Editar</button>
                <button class="btn btn-danger" data-bind="click: $root.eliminarCita">Eliminar</button>
              </div></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-danger" data-toggle="modal" data-target="#agregarCita">Agregar</button>
      </div>
    </div>
    <!-- Modal -->
    <div id="modificarCita" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar</h4>
            <h4></h4>
          </div>
          <div class="modal-body" data-bind="if: cargadoCita()">
            <form data-bind="submit: editarCita" >
              <div class="form-group">
                  <label for="fecha">Fecha</label>
                  <input type="date"
                         class="form-control"
                         name="fecha"
                         data-bind="value: cargadoCita().fecha"
                         id="fecha" required/>
                  <label for="descripcion">Descripcion</label>
                  <input type="text"
                          class="form-control"
                          name="descripcion"
                          data-bind="value: cargadoCita().descripcion"
                          id="descripcion" required/>
                  <label for="lugar">Lugar</label>
                  <input type="text"
                          class="form-control"
                          name="lugar"
                          data-bind="value: cargadoCita().lugar"
                          id="lugar" required/>
                          <label for="contacto">Contacto</label>
                          <select class="form-control" data-bind="options: contactos,
                                 optionsText: 'nombre',
                                 value: nuevaCita.contacto(),
                                 optionsCaption: 'Choose...'"" required></select>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
            <!-- Modal -->
            <div id="agregarCita" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar</h4>
                    <h4></h4>
                  </div>
                  <div class="modal-body">
                    <form data-bind="submit: agregarCita">
                      <div class="form-group">
                        <label for="nombre">Lugar</label>
                        <input type="text"
                               class="form-control"
                               name="nombre"
                               data-bind="value: nuevaCita.lugar"
                               id="nombre" required/>
                        <label for="descripcion">Descripcion</label>
                        <input type="text"
                                class="form-control"
                                name="descripcion"
                                data-bind="value: nuevaCita.descripcion"
                                id="descripcion" required/>
                        <input type="date"
                                class="form-control"
                                name="fecha"
                                data-bind="value: nuevaCita.fecha"
                                id="fecha" required/>
                        <label for="Categoria">Contacto</label>
                        <select class="form-control" data-bind="options: contactos,
                              optionsText: 'nombre',
                              value: nuevaCita.contacto,optionsCaption: 'Choose...'" required></select>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
    </div>

</div>

<% include footer %>
<script src="/javascripts/contactoCliente.js"></script>
